/* Goggle Font: Quicksand */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* TailwindCSS Utility */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Colors */
:root {
	--primary: #001b32;
	--secondary: #092b50;
	--tertiary: #579c8a;
	--quaternary: #dbfcd1;
	--white: #fbfbef;
}

/* Basic Style */
* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
html,
body {
	font-family: "Quicksand", serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 600;
}

/* Header Section Button */
.button-container {
	height: 170px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.button {
	position: relative;
	z-index: 0;
	width: 260px;
	height: 56px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 500;
	color: var(--quaternary);
	letter-spacing: 1px;
	transition: all 0.3s ease;
}
.button__text {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after {
	content: "";
	position: absolute;
	height: 2.4px;
	border-radius: 5px;
	background: var(--quaternary);
	transition: all 0.5s ease;
}
.button::before {
	top: 0;
	left: 54px;
	width: calc(100% - 56px * 2 - 16px);
}
.button::after {
	top: 0;
	right: 54px;
	width: 8px;
}
.button__text::before {
	bottom: 0;
	right: 54px;
	width: calc(100% - 56px * 2 - 16px);
}
.button__text::after {
	bottom: 0;
	left: 54px;
	width: 8px;
}
.button__line {
	position: absolute;
	top: 0;
	width: 56px;
	height: 100%;
	overflow: hidden;
}
.button__line::before {
	content: "";
	position: absolute;
	top: 0;
	width: 150%;
	height: 100%;
	box-sizing: border-box;
	border-radius: 300px;
	border: solid 3px var(--quaternary);
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before {
	left: 0;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before {
	right: 0;
}
.button:hover {
	letter-spacing: 3.5px;
}
.button:hover::before,
.button:hover .button__text::before {
	width: 8px;
}
.button:hover::after,
.button:hover .button__text::after {
	width: calc(100% - 56px * 2 - 16px);
}
.button__draw1,
.button__draw2 {
	position: absolute;
	z-index: -1;
	border-radius: 16px;
	transform-origin: 16px 16px;
}
.button__draw1 {
	top: -16px;
	left: 40px;
	width: 32px;
	height: 0;
	transform: rotate(30deg);
}
.button__draw2 {
	top: 44px;
	left: 77px;
	width: 32px;
	height: 0;
	transform: rotate(-127deg);
}
.button__draw1::before,
.button__draw1::after,
.button__draw2::before,
.button__draw2::after {
	content: "";
	position: absolute;
}
.button__draw1::before {
	bottom: 0;
	left: 0;
	width: 0;
	height: 32px;
	border-radius: 16px;
	transform-origin: 16px 16px;
	transform: rotate(-60deg);
}
.button__draw1::after {
	top: -10px;
	left: 45px;
	width: 0;
	height: 32px;
	border-radius: 16px;
	transform-origin: 16px 16px;
	transform: rotate(69deg);
}
.button__draw2::before {
	bottom: 0;
	left: 0;
	width: 0;
	height: 32px;
	border-radius: 16px;
	transform-origin: 16px 16px;
	transform: rotate(-146deg);
}
.button__draw2::after {
	bottom: 26px;
	left: -40px;
	width: 0;
	height: 32px;
	border-radius: 16px;
	transform-origin: 16px 16px;
	transform: rotate(-262deg);
}
.button__draw1,
.button__draw1::before,
.button__draw1::after,
.button__draw2,
.button__draw2::before,
.button__draw2::after {
	background: var(--tertiary);
}
.button:hover .button__draw1 {
	animation: draw1 ease-in 0.06s;
	animation-fill-mode: forwards;
}
.button:hover .button__draw1::before {
	animation: draw2 linear 0.08s 0.06s;
	animation-fill-mode: forwards;
}
.button:hover .button__draw1::after {
	animation: draw3 linear 0.03s 0.14s;
	animation-fill-mode: forwards;
}
.button:hover .button__draw2 {
	animation: draw4 linear 0.06s 0.2s;
	animation-fill-mode: forwards;
}
.button:hover .button__draw2::before {
	animation: draw3 linear 0.03s 0.26s;
	animation-fill-mode: forwards;
}
.button:hover .button__draw2::after {
	animation: draw5 linear 0.06s 0.32s;
	animation-fill-mode: forwards;
}
@keyframes draw1 {
	0% {
		height: 0;
	}
	100% {
		height: 100px;
	}
}
@keyframes draw2 {
	0% {
		width: 0;
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	11% {
		opacity: 1;
	}
	100% {
		width: 120px;
	}
}
@keyframes draw3 {
	0% {
		width: 0;
	}
	100% {
		width: 80px;
	}
}
@keyframes draw4 {
	0% {
		height: 0;
	}
	100% {
		height: 120px;
	}
}
@keyframes draw5 {
	0% {
		width: 0;
	}
	100% {
		width: 124px;
	}
}
